.h1-title{
    text-align: center;
    color: #242423;
    background-color: #cfdbd5;
    border-radius: 5px;
    border-bottom:2px solid #333533 ;
    border-top:2px solid #333533 ;
    cursor: pointer;
}
.h1-number{
    text-align: center;
    color: #242423;
    background-color: #cfdbd5;
    border-radius: 5px;
    border-bottom:2px solid #333533 ;
    border-top:2px solid #333533 ;
}
.h1-number2{
    text-align: center;
    color: #242423;
    background-color: #04db70;
    border-radius: 5px;
    border-bottom:2px solid #333533 ;
    border-top:2px solid #333533 ;
}
.h1-number3{
    text-align: center;
    color: #242423;
    background-color: #0581bb;
    border-radius: 5px;
    border-bottom:2px solid #333533 ;
    border-top:2px solid #333533 ;
}
img{
    width: 100px;
}
.main-div{
    margin: auto;
    width: 30%;
    text-align: center;
    background-color:#f5cb5c;
    border: 2px solid #333533;
}
.inner-div{
    background-color:#333533;
}